In [1]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          234                 79
1        UAS1         Fisika                          742                 95
2        UTS2         Fisika                          624                 92
3        UAS2         Fisika                          436                 94
4        UTS1     Matematika                          402                 51
5        UAS1     Matematika                          772                 74
6        UTS2     Matematika                          771                 64
7        UAS2     Matematika                          721                 54
8        UTS1     Statistika                          427                 68
9        UAS1     Statistika                          641                 58
10       UTS2     Statistika                          488                 64
11       UAS2     Statistika                          565                 66



---



---

## Soal 1. Data Cleaning

Lakukan sorting data berdasarkan Rata2 nilai ujian dari terbesar ke terkecil

*   Lakukan sorting data berdasarkan Rata2 nilai ujian dari terbesar ke terkecil
*   Tipe Ujian dan Mata pelajaran apakah yang memiliki rata2 nilai terkecil?

In [18]:
#code here
sort_asc = df.sort_values('Rata2 Nilai Ujian',ascending=False)
print(sort_asc)

print("")
print("="*100)
print("")

mean_r = df.min()
mean_r

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
1        UAS1         Fisika                          742                 95
3        UAS2         Fisika                          436                 94
2        UTS2         Fisika                          624                 92
0        UTS1         Fisika                          234                 79
5        UAS1     Matematika                          772                 74
8        UTS1     Statistika                          427                 68
11       UAS2     Statistika                          565                 66
6        UTS2     Matematika                          771                 64
10       UTS2     Statistika                          488                 64
9        UAS1     Statistika                          641                 58
7        UAS2     Matematika                          721                 54
4        UTS1     Matematika                          402                 51

====================================================================================================

Tipe Ujian                       UAS1
Mata Pelajaran                 Fisika
Rata2 Waktu Belajar (menit)       234
Rata2 Nilai Ujian                  51
dtype: object

Expected output:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1iv8P-LDdN3WpTVX9qST3kL7QSNSDiOc2)



---



---

<h2>Soal 2: Data Restructuring</h2>

Jelaskan itu pivoting dan melting data

pivoting : digunakan untuk membentuk kembali DataFrame tertentu yang diatur oleh nilai indeks/kolom yang diberikan

---
melting : berguna untuk mengirim pesan DataFrame ke dalam format di mana satu atau lebih kolom adalah variabel pengidentifikasi, sementara semua kolom lainnya, dianggap variabel terukur, tidak diputar ke sumbu baris, hanya menyisakan dua kolom, variabel, dan nilai non-pengidentifikasi


---

<h2>Soal 3: Reshaping Data 1</h2>

In [19]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          312                 73
1        UAS1         Fisika                          651                 42
2        UTS2         Fisika                          584                 91
3        UAS2         Fisika                          630                 93
4        UTS1     Matematika                          618                 41
5        UAS1     Matematika                          216                 83
6        UTS2     Matematika                          712                 48
7        UAS2     Matematika                          296                 96
8        UTS1     Statistika                          638                 52
9        UAS1     Statistika                          490                 40
10       UTS2     Statistika                          692                 89
11       UAS2     Statistika                          442                 40

Perhatikan data di atas, kemudian ubahlah bentuknya agar sesuai yang di harapkan.

In [25]:
#code here
pivot_table_df = pd.pivot(df, index="Tipe Ujian", columns="Mata Pelajaran")
pivot_table_df

               Rata2 Waktu Belajar (menit)                        \
Mata Pelajaran                      Fisika Matematika Statistika
Tipe Ujian
UAS1                                   651        216        490
UAS2                                   630        296        442
UTS1                                   312        618        638
UTS2                                   584        712        692

               Rata2 Nilai Ujian
Mata Pelajaran            Fisika Matematika Statistika
Tipe Ujian
UAS1                          42         83         40
UAS2                          93         96         40
UTS1                          73         41         52
UTS2                          91         48         89

Expected Result:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1XufsfqZe7-XZLsb92SpATexy-QRZE0ow)



---



---

<h2>Soal 4: Reshaping Data 2</h2>

In [41]:
import pandas as pd

data = {
    'Hari' : ['Sabtu', 'Minggu'],
    'Kebun Binatang' : [271, 399],
    'Dufan' : [501, 700],
    'Disney' : [1000, 1001],
    'Bali' : [900, 803]
}
df = pd.DataFrame(data).set_index('Hari')
a = df.reset_index()

diatas adalah data tentang jumlah pengunjung di berbagai tempat hiburan, ubahlah struktur data tersebut sehingga sesuai dengan hasil yang diharapkan.

In [42]:
#code here

pd.melt(a, id_vars=["Hari"],var_name ='Tempat Hiburan', value_name ='Pengunjung')

     Hari  Tempat Hiburan  Pengunjung
0   Sabtu  Kebun Binatang         271
1  Minggu  Kebun Binatang         399
2   Sabtu           Dufan         501
3  Minggu           Dufan         700
4   Sabtu          Disney        1000
5  Minggu          Disney        1001
6   Sabtu            Bali         900
7  Minggu            Bali         803

Expected Result:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=159mIqcyfeD30EEcyZmmkovORa6cZDLtn)



---



---

<h2>Soal 5: Data Enrichment</h2>

Lakukan binning data menggunakan qcut sehingga sesuai hasil yang diharapkan

In [83]:
# code here
labels = ["tidak lulus","remedial","lulus"]
data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)], 
}

df = pd.DataFrame(data)
df["Keterangan kelulusan"] = pd.qcut(df["Rata2 Nilai Ujian"],q=3, labels=labels)
# df["Keterangan kelulusan"]
df
# pd.qcut(df["Keterangan kelulusan"],q=3, labels=labels)

,Tipe Ujian,Mata Pelajaran,Rata2 Waktu Belajar (menit),Rata2 Nilai Ujian,Keterangan kelulusan
0,UTS1,Fisika,766,98,lulus
1,UAS1,Fisika,422,47,tidak lulus
2,UTS2,Fisika,374,64,remedial
3,UAS2,Fisika,240,63,remedial
4,UTS1,Matematika,400,84,lulus
5,UAS1,Matematika,664,61,remedial
6,UTS2,Matematika,446,60,tidak lulus
7,UAS2,Matematika,619,59,tidak lulus
8,UTS1,Statistika,435,44,tidak lulus
9,UAS1,Statistika,790,65,remedial
10,UTS2,Statistika,475,72,lulus
11,UAS2,Statistika,653,78,lulus

Expected Output:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1h2_u5_xhD1_QtPpItTj-o3lljHhnr4XS)

In [75]:
pd.qcut(df["Keterangan kelulusan"],q=3, labels=labels)

TypeError: unsupported operand type(s) for -: 'str' and 'str'